* {
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
}

.outer_div {
  border-style: solid;
  border-color: black;
  float: right;
  margin-right: 129px;
  margin-top: 37px;
}

.upper_div {
  display: flex;
}

.lower_div {
  display: flex;
  margin-top: 9px;
}

.inner_div {
  display: flex;
  margin: 18px;
}

.first_div {
  margin-left: 18px;
}

.first_div_p p {
  font-size: 12px;
  height: 10px;
  color: #0071c2;
  font-weight: bold;
}

.first_div p {
  font-size: 12px;
  height: 10px;
}

.first_div h1 {
  height: 30px;
  font-weight: bold;
  color: #0071c2;
}

.second_div {
  margin-left: 250px;
}

.third_div {
  margin-left: 18px;
}

.third_div p {
  height: 11px;
  font-size: 12px;
}

.third_div_p p {
  height: 11px;
  font-size: 12px;
  font-weight: bold;
}

.third_div_p1 p {
  height: 9px;
  font-size: 12px;
  font-weight: bold;
  color: #008009;
}

.third_div_p2 p {
  height: 9px;
  font-size: 12px;
  font-weight: bold;
  color: #008009;
}

.fourth_div {
  margin-left: 11px;
  margin-top: 18px;
}

.fourth_div p {
  font-size: 12px;
  height: 11px;
  margin-left: 47px;
}

.stays p {
  font-size: 12px;
  height: 11px;
  margin-left: 82px;
}

.fourth_div h2 {
  height: 19px;
  margin-left: 66px;
}

.fourth_div button {
  width: 103%;
  height: 37%;
  background-color: #0071c2;
  border-color: #0071c2;
  border-style: none;
  color: white;
  font-size: 16px;
}

.room_reviews {
  display: flex;
}

.room_reviews p {
  font-size: 12px;
  margin-left: 10px;
}

.room_reviews h6 {
  font-size: 15px;
  height: 14px;
  margin-top: 3px;
}

.room_reviews span {
  margin-left: 9px;
}
