/* 1st div */

.filterlist {
  position: absolute;
  margin-left: 120px;
}

.filter_h1 {
  border-style: solid;
  border-color: black;
  border-width: thin;
  border-bottom: none;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.filter_h1 h1 {
  font-size: 16px;
  font-weight: bold;
  padding-right: 193px;
  margin-left: 8px;
  margin-top: 12px;
  margin-bottom: 0px;
  height: 29px;
}

/* 2nd div */

.filter_items {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.filter_items h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

/* .previous_filter and .input-1 for 1st div and all */

.previous_filter {
  display: flex;
  margin-top: 0px;
}

.input-1 {
  margin-left: 10px;
}

.input-1 input {
  width: 21px;
  height: 19px;
  cursor: pointer;
}

.input-1 label {
  margin-left: 8px;
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.para p {
  margin-left: 170px;
  font-size: 13px;
  color: black;
}

/* .input-2 {
  margin-left: 10px;
} */

/* .input-2 input {
  width: 23px;
  height: 21px;
  cursor: pointer;
} */

/* .input-2 label {
  margin-left: 8px;
  font-size: 16px;
  color: black;
  cursor: pointer;
} */

.para-2 p {
  margin-left: 141px;
  font-size: 13px;
  color: black;
}

.para-3 p {
  margin-left: 95px;
  font-size: 13px;
  color: black;
}

/* 3rd div */

.budget {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.budget h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.toogle_switch {
  display: flex;
}

.toogle_switch p {
  margin-left: 14px;
  font-size: 15px;
  color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
  margin-left: 9px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 13px;
  left: 5px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-para p {
  margin-left: 76px;
  font-size: 13px;
  color: black;
}

.switch-para1 p {
  margin-left: 42px;
  font-size: 13px;
  color: black;
}

.switch-para2 p {
  margin-left: 44px;
  font-size: 13px;
  color: black;
}

.switch-para3 p {
  margin-left: 118px;
  font-size: 13px;
  color: black;
}

/* 4th div */

.popular_filter {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.popular_filter h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.popular_para1 p {
  margin-left: 159px;
  font-size: 13px;
  color: black;
}

.popular_para2 p {
  margin-left: 157px;
  font-size: 13px;
  color: black;
}

.popular_para3 p {
  margin-left: 96px;
  font-size: 13px;
  color: black;
}

.popular_para4 p {
  margin-left: 124px;
  font-size: 13px;
  color: black;
}

.popular_para5 p {
  margin-left: 93px;
  font-size: 13px;
  color: black;
}

.popular_para6 p {
  margin-left: 61px;
  font-size: 13px;
  color: black;
}

.popular_para7 p {
  margin-left: 95px;
  font-size: 13px;
  color: black;
}

.popular_para8 p {
  margin-left: 143px;
  font-size: 13px;
  color: black;
}

/* 5th div */

.health_saftey {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.health_saftey h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.saftey {
  display: flex;
  margin-top: 5px;
}

.input-2 {
  margin-left: 10px;
}

.input-2 input {
  width: 21px;
  height: 19px;
  cursor: pointer;
}

.input-2 label {
  margin-left: 8px;
  font-size: 13px;
  color: black;
  cursor: pointer;
  position: absolute;
}

.health_saftey_para p {
  margin-left: 203px;
  margin-top: 14px;
  font-size: 13px;
  color: black;
}

/* 6th div */

.sustainability {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.sustainability h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.sustainability_para p {
  margin-left: 40px;
  font-size: 13px;
  color: black;
}

/* 7th para */

.star_rating {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.star_rating h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.rating_para p {
  margin-left: 160px;
  font-size: 13px;
  color: black;
}

.rating_para1 p {
  margin-left: 160px;
  font-size: 13px;
  color: black;
}

.rating_para2 p {
  margin-left: 164px;
  font-size: 13px;
  color: black;
}

.rating_para3 p {
  margin-left: 152px;
  font-size: 13px;
  color: black;
}

/* 8th div */

.distance {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.distance h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.distance_para p {
  margin-left: 119px;
  font-size: 13px;
  color: black;
}

.distance_para1 p {
  margin-left: 119px;
  font-size: 13px;
  color: black;
}

.distance_para2 p {
  font-size: 13px;
  margin-left: 38px;
  color: black;
}
/* 9th div */

.fun_things {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.fun_things h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.fun_things_para p {
  font-size: 13px;
  margin-left: 161px;
  color: black;
}

.fun_things_para1 p {
  font-size: 13px;
  margin-left: 154px;
  color: black;
}

.fun_things_para2 p {
  font-size: 13px;
  margin-left: 133px;
  color: black;
}

.fun_things_para3 p {
  font-size: 13px;
  margin-left: 46px;
  color: black;
}
.fun_things_para4 p {
  font-size: 13px;
  margin-left: 149px;
  color: black;
}

.fun_things_para5 p {
  font-size: 13px;
  margin-left: 180px;
  color: black;
}

.fun_things_para6 p {
  font-size: 13px;
  margin-left: 79px;
  color: black;
}

.fun_things_para7 p {
  font-size: 13px;
  margin-left: 116px;
  color: black;
}

.fun_things_para8 p {
  font-size: 13px;
  margin-left: 168px;
  color: black;
}

.fun_things_para9 p {
  font-size: 13px;
  margin-left: 97px;
  color: black;
}

.fun_things_para10 p {
  font-size: 13px;
  margin-left: 164px;
  color: black;
}

.fun_things_para11 p {
  font-size: 13px;
  margin-left: 138px;
  color: black;
}

.fun_things_para12 p {
  font-size: 13px;
  margin-left: 117px;
  color: black;
}

.fun_things_para13 p {
  font-size: 13px;
  margin-left: 127px;
  color: black;
}

.fun_things_para14 p {
  font-size: 13px;
  margin-left: 103px;
  color: black;
}

.fun_things_para15 p {
  font-size: 13px;
  margin-left: 102px;
  color: black;
}

.fun_things_para16 p {
  font-size: 13px;
  margin-left: 69px;
  color: black;
}

/* 10th div */

.deal {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.deal h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.deals_para p {
  font-size: 13px;
  margin-left: 153px;
  color: black;
}

/* 11th div */

.policy {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.policy h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.policy_para p {
  font-size: 13px;
  margin-left: 104px;
  color: black;
}

.policy_para1 p {
  font-size: 13px;
  margin-left: 64px;
  color: black;
}

.policy_para2 p {
  font-size: 13px;
  margin-left: 112px;
  color: black;
}

/* 12th div */

.meals {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.meals h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.meals_para p {
  font-size: 13px;
  margin-left: 106px;
  color: black;
}

.meals_para1 p {
  font-size: 13px;
  margin-left: 96px;
  color: black;
}

/* 13th div */

.entire_places {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.entire_places h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.entire_places_para p {
  font-size: 13px;
  margin-left: 49px;
  color: black;
}

/* 14th div */

.property_type {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.property_type h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.property_type_para p {
  font-size: 13px;
  margin-left: 126px;
  color: black;
}

.property_type_para1 p {
  font-size: 13px;
  margin-left: 134px;
  color: black;
}

.property_type_para2 p {
  font-size: 13px;
  margin-left: 160px;
  color: black;
}

.property_type_para3 p {
  font-size: 13px;
  margin-left: 96px;
  color: black;
}

.property_type_para4 p {
  font-size: 13px;
  margin-left: 170px;
  color: black;
}

.property_type_para5 p {
  font-size: 13px;
  margin-left: 140px;
  color: black;
}

.property_type_para6 p {
  font-size: 13px;
  margin-left: 110px;
  color: black;
}

.property_type_para7 p {
  font-size: 13px;
  margin-left: 159px;
  color: black;
}

/* 15th div */

.landmarks {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.landmarks h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.landmarks_para p {
  font-size: 13px;
  margin-left: 93px;
  color: black;
}

/* 16th div */

.preference {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.preference h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.preference_para p {
  font-size: 13px;
  margin-left: 129px;
  color: black;
}

/* 17th div */

.review {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.review h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.review_para p {
  margin-left: 112px;
  font-size: 13px;
  color: black;
}

.review_para1 p {
  margin-left: 39px;
  font-size: 13px;
  color: black;
}

.review_para2 p {
  margin-left: 109px;
  font-size: 13px;
  color: black;
}

.review_para3 p {
  margin-left: 138px;
  font-size: 13px;
  color: black;
}

.review_para4 p {
  margin-left: 125px;
  font-size: 13px;
  color: black;
}

/* 18th div */

.facility {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.facility h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.facilities_para p {
  font-size: 13px;
  margin-left: 154px;
  color: black;
}

.facilities_para1 p {
  font-size: 13px;
  margin-left: 141px;
  color: black;
}

.facilities_para2 p {
  font-size: 13px;
  margin-left: 119px;
  color: black;
}

.facilities_para3 p {
  font-size: 13px;
  margin-left: 123px;
  color: black;
}

.facilities_para4 p {
  font-size: 13px;
  margin-left: 86px;
  color: black;
}

.facilities_para5 p {
  font-size: 13px;
  margin-left: 135px;
  color: black;
}

.facilities_para6 p {
  font-size: 13px;
  margin-left: 96px;
  color: black;
}

.facilities_para7 p {
  font-size: 13px;
  margin-left: 123px;
  color: black;
}

.facilities_para8 p {
  font-size: 13px;
  margin-left: 43px;
  color: black;
}

.facilities_para9 p {
  font-size: 13px;
  margin-left: 146px;
  color: black;
}

.facilities_para10 p {
  font-size: 13px;
  margin-left: 127px;
  color: black;
}

.facilities_para11 p {
  font-size: 13px;
  margin-left: 180px;
  color: black;
}

.facilities_para12 p {
  font-size: 13px;
  margin-left: 116px;
  color: black;
}

.facilities_para13 p {
  font-size: 13px;
  margin-left: 92px;
  color: black;
}

/* 19th div */

.room_facility {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.room_facility h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.room_facility_para p {
  font-size: 13px;
  margin-left: 102px;
  color: black;
}

.room_facility_para1 p {
  font-size: 13px;
  margin-left: 151px;
  color: black;
}

.room_facility_para2 p {
  font-size: 13px;
  margin-left: 105px;
  color: black;
}

.room_facility_para3 p {
  font-size: 13px;
  margin-left: 154px;
  color: black;
}

.room_facility_para4 p {
  font-size: 13px;
  margin-left: 87px;
  color: black;
}

.room_facility_para5 p {
  font-size: 13px;
  margin-left: 167px;
  color: black;
}

.room_facility_para6 p {
  font-size: 13px;
  margin-left: 155px;
  color: black;
}

.room_facility_para7 p {
  font-size: 13px;
  margin-left: 157px;
  color: black;
}

.room_facility_para8 p {
  font-size: 13px;
  margin-left: 159px;
  color: black;
}

.room_facility_para9 p {
  font-size: 13px;
  margin-left: 119px;
  color: black;
}

.room_facility_para10 p {
  font-size: 13px;
  margin-left: 155px;
  color: black;
}

.room_facility_para11 p {
  font-size: 13px;
  margin-left: 131px;
  color: black;
}

.room_facility_para12 p {
  font-size: 13px;
  margin-left: 98px;
  color: black;
}

.room_facility_para13 p {
  font-size: 13px;
  margin-left: 98px;
  color: black;
}

.room_facility_para14 p {
  font-size: 13px;
  margin-left: 124px;
  color: black;
}

.room_facility_para15 p {
  font-size: 13px;
  margin-left: 54px;
  color: black;
}

.room_facility_para16 p {
  font-size: 13px;
  margin-left: 114px;
  color: black;
}

.room_facility_para17 p {
  font-size: 13px;
  margin-left: 172px;
  color: black;
}

/* 20th div */

.neighborhood {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.neighborhood h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.neighborhood_para p {
  font-size: 13px;
  margin-left: 135px;
  color: black;
}

.neighborhood_para1 p {
  font-size: 13px;
  margin-left: 145px;
  color: black;
}

.neighborhood_para2 p {
  font-size: 13px;
  margin-left: 147px;
  color: black;
}

.neighborhood_para3 p {
  font-size: 13px;
  margin-left: 142px;
  color: black;
}

.neighborhood_para4 p {
  font-size: 13px;
  margin-left: 143px;
  color: black;
}

/* 21th div */

.property_accessibility {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom: none;
}

.property_accessibility h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.property_accessibility_para p {
  font-size: 13px;
  margin-left: 72px;
  color: black;
}

.property_accessibility_para1 p {
  font-size: 13px;
  margin-left: 90px;
  color: black;
}

.property_accessibility_para2 p {
  font-size: 13px;
  margin-left: 134px;
  color: black;
}

.property_accessibility_para3 p {
  font-size: 13px;
  margin-left: 129px;
  color: black;
}

.property_accessibility_para4 p {
  font-size: 13px;
  margin-left: 54px;
  color: black;
}

/* 22th div */

.room_accessibility {
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  border-width: thin;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.room_accessibility h1 {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-weight: bold;
}

.room_accessibility_para p {
  font-size: 13px;
  margin-left: 14px;
  color: black;
}

.room_accessibility_para1 p {
  font-size: 13px;
  margin-left: 8px;
  color: black;
}

.room_accessibility_para2 p {
  font-size: 13px;
  margin-left: 22px;
  color: black;
}

.room_accessibility_para3 p {
  font-size: 13px;
  margin-left: 95px;
  color: black;
}

.room_accessibility_para4 p {
  font-size: 13px;
  margin-left: 130px;
  color: black;
}

.room_accessibility_para5 p {
  font-size: 13px;
  margin-left: 128px;
  color: black;
}

.room_accessibility_para6 p {
  font-size: 13px;
  margin-left: 118px;
  color: black;
}

.room_accessibility_para7 p {
  font-size: 13px;
  margin-left: 138px;
  color: black;
}

.room_accessibility_para8 p {
  font-size: 13px;
  margin-left: 147px;
  color: black;
}

.room_accessibility_para9 p {
  font-size: 13px;
  margin-left: 44px;
  color: black;
}

.room_accessibility_para10 p {
  font-size: 13px;
  margin-left: 132px;
  color: black;
}
